#app{
    background: #1E1E1E;
    font-size: 0.4rem;
    overflow-y: scroll;
}

#wraper{
    overflow-y: scroll;
    position: relative;
}
#wraper-num li{
    height: 1rem;
    line-height: 1rem;
}

/* 游戏信息 */
.infor{
    position: absolute;
    display: flex;
    width: 100%;
    padding: 0.2rem 0;
    font-size: 0.3rem;
}
.infor span{
    display: block;
}
.infor span#degree{
    width: 100%;
    text-align: center;
}

.btn-mask{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .7);
}
.btn-start{
    width: 3rem;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    background: #41B883;
    color: #fff;
    font-size: 0.4rem;
    font-weight: bold;
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 0.2rem;
    transform: translateX(-50%) translateY(-50%);
}