#app{
    background: #1E1E1E;
    font-size: 0.4rem;
    overflow-y: scroll;
}

#wraper{
    overflow-y: scroll;
    position: relative;
}
#wraper-num li{
    height: 1rem;
    line-height: 1rem;
}

/* 游戏信息 */
.infor{
    position: absolute;
    display: flex;
    width: 100%;
    padding: 0.2rem 0;
    font-size: 0.3rem;
}
.infor span{
    display: block;
}
.infor span#degree{
    width: 100%;
    text-align: center;
}